
# Node modules
node_modules/
.pnpm/
dist/
.build/
.cache/
.vscode/
.vercel/
.DS_Store
.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Optional npm cache directory
.npm/

# Build output
/public/build/
